<div class="col-xs-12">
  <h1>List</h1>
  <div class="row">

   <!--  Moved the search to the navbar. But also added "filter" functionality. But wait...How does this template know what's happening in a whole other template/controller binding?
   This one is tough-->

  </div>
  <div>
    <!-- What's going on with this filter? PFM, that's what -->
    <div class="panel panel-default"
         ng-repeat="item in list | filter: {task: searchText.searchTerm}">
      <div class="panel-body">
        <div class="col-xs-1"><input type="checkbox" ng-model="todo.isCompleted" ng-change="updateTaskStatus(todo)"></div>
        <div class="col-xs-7 task"><a href="#!/todos/detail/{{todo.id}}">{{item.title}}</a></div>
        <div class="col-xs-2 date">{{item.date}}</div>
        <div class="col-xs-1 assigned-to">{{item.pay}}</div>
        <div class="col-xs-1 assigned-to">{{item.description}}</div>
        <div class="col-xs-1 delete"><button class="btn btn-danger" ng-click="deletelist(todo.id)"><i class="fa fa-trash" aria-hidden="true"></i></button></div>
      </div>
    </div>
  </div>
</div>